@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 118 28% 95%;
    --foreground: 118 5% 0%;
    --card: 118 28% 90%;
    --card-foreground: 118 5% 10%;
    --popover: 118 28% 95%;
    --popover-foreground: 118 95% 0%;
    --primary: 118 93.9% 74.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 118 28% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 80 28% 85%;
    --muted-foreground: 118 5% 35%;
    --accent: 80 28% 80%;
    --accent-foreground: 118 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 118 5% 90%;
    --border: 118 28% 50%;
    --input: 118 28% 18%;
    --ring: 118 93.9% 74.1%;
    --radius: 1rem;
  }
  .dark {
    --background: 118 28% 5%;
    --foreground: 118 5% 90%;
    --card: 118 28% 0%;
    --card-foreground: 118 5% 90%;
    --popover: 118 28% 5%;
    --popover-foreground: 118 5% 90%;
    --primary: 118 93.9% 74.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 118 28% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 80 28% 15%;
    --muted-foreground: 118 5% 60%;
    --accent: 80 28% 15%;
    --accent-foreground: 118 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 118 5% 90%;
    --border: 118 28% 18%;
    --input: 118 28% 18%;
    --ring: 118 93.9% 74.1%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
